/*
Error: Illegal nesting: Only properties may be nested beneath properties.
        on line 56 of 1-base/_common.sass
        from line 1 of 1-base/_base-dir.sass
        from line 9 of app.sass

51: .container
52:   max-width: 2000px
53:   margin-left: 0
54:   position: relative
55:   top: -1000px
56:     @media screen and (max-width: 767px)
57:       margin-right: 0
58: 
59: .fa
60:   padding: 10px
61: 

Backtrace:
1-base/_common.sass:56
1-base/_base-dir.sass:1
app.sass:9
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:38:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:38:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:59:in `visit_root'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:24:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:88:in `block in with_import'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:88:in `with_import'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:329:in `map'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:88:in `block in with_import'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:88:in `with_import'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/qstobbs/.rvm/gems/ruby-2.4.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Illegal nesting: Only properties may be nested beneath properties.\A         on line 56 of 1-base/_common.sass\A         from line 1 of 1-base/_base-dir.sass\A         from line 9 of app.sass\A \A 51: .container\A 52:   max-width: 2000px\A 53:   margin-left: 0\A 54:   position: relative\A 55:   top: -1000px\A 56:     @media screen and (max-width: 767px)\A 57:       margin-right: 0\A 58: \A 59: .fa\A 60:   padding: 10px\A 61: "; }
