body
  font-family: $lucida-grande

h1,h2,h3,h6
  text-transform: uppercase

h1, h2
  font-size: 4em
  padding: 20px

h3
  font-size: 1em

h5,a
  font-size: 0.75em

.container
  max-width: 800px
  margin: 0 auto

nav
  +clearfix

nav
  @include grid-column(12)
  +clearfix


.options
  @include grid-container
  @include grid-column(12)
  +clearfix

.option
  text-align: center
  @include grid-column(4)
  @media screen and (max-width: 767px)
    @include grid-column(12)

.punchline
  @include grid-column(12)
  @include grid-container
  float: left
  +clearfix
