body
  font-family: $open-slab

h1,h2,h3,h4,h5,h6
  font-family: $open-slab

h1,h2,h3,h6
  text-transform: uppercase

h1, h2
  font-size: 4em
  padding: 20px

h3
  font-size: 1em
  padding: 20px

h5,a
  font-size: 0.75em
  text-align: center

.container
  max-width: 800px
  margin: 0 auto

.fa
  padding: 10px

nav
  +clearfix

nav
  @include grid-column(12)
  +clearfix


.options
  @include grid-container
  @include grid-column(12)
  background: #175289
  color: white
  +clearfix

.option
  text-align: center
  @include grid-column(4)
  @media screen and (max-width: 767px)
    @include grid-column(12)

.punchline
  @include grid-column(12)
  @include grid-container
  float: left
  +clearfix


.diagonal
  background: #175289
  background-image: -webkit-linear-gradient(60deg, #175289 50%, #FFFFFF 50%)
  @include grid-column(12)
  min-height: 100px
