nav
  float: right
  font-weight: bold
  text-transform: uppercase
  ul
    text-align: right
  li
    display: inline
    &:hover
      background: darkblue
      color: white
    a
      display: inline-block
      padding: 5px 15px
